*{
    padding: 0;
    margin: 0;
}

.img-fluid{
    max-width: 100%;
    max-height: 100%;
}

:root
{
    --white-color:#fff;
}

.header
{
    height: 96px;
    width: 100%;
    position: fixed;
    z-index: 2;
    transition: all ease-in-out 0.3s;
}
.header__navbar
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 96px;
}
.header__navbar-list
{
    display: flex;
    justify-content: end;
    color: var(--white-color);
    list-style: none;
    line-height: 96px;
}
.header__navbar-list-item a
{
    text-decoration: none;
    color: var(--white-color);
    padding: 38px 14px;
    font-size: 18px;
}
.header__navbar-list-item
{
    position: relative;
    /* transition: all ease-in 1s; */
}
.header__navbar-list-item:nth-child(1):after
{
    display: block;
    position: absolute;
    content: "";
    width: 47px;
    height: 3px;
    right: 13px;
    display: none;
    border-radius: 2px;
    top: 68%;
    background-color: var(--white-color);
}
.header__navbar-list-item:nth-child(5):hover:after,
.header__navbar-list-item:nth-child(2):hover:after,
.header__navbar-list-item:nth-child(3):hover:after,
.header__navbar-list-item:nth-child(4):hover:after,
.header__navbar-list-item:nth-child(1):hover:after,
.header__navbar-list-item:nth-child(6):hover:after,
.header__navbar-list-item:nth-child(7):hover:after
{
    display: block;
    
}
.header__navbar-list-item:nth-child(2):after
{
    display: block;
    position: absolute;
    content: "";
    width: 72px;
    height: 3px;
    right: 13px;
    border-radius: 2px;
    top: 68%;
    background-color: var(--white-color);
    display: none;
    animation: fadeIn1 ease-in-out 400ms;
    
}
.header__navbar-list-item:nth-child(3):after
{
    display: block;
    position: absolute;
    content: "";
    width: 62px;
    height: 3px;
    right: 13px;
    border-radius: 2px;
    top: 68%;
    background-color: var(--white-color);
    display: none;
    animation: fadeIn1 ease-in-out 400ms;
    
}
.header__navbar-list-item:nth-child(4):after
{
    display: block;
    position: absolute;
    content: "";
    width: 57px;
    height: 3px;
    right: 11px;
    border-radius: 2px;
    top: 68%;
    background-color: var(--white-color);
    display: none;
    animation: fadeIn1 ease-in-out 400ms;
    
}
.header__navbar-list-item:nth-child(5):after
{
    display: block;
    position: absolute;
    content: "";
    width: 44px;
    height: 3px;
    right: 14px;
    border-radius: 2px;
    top: 68%;
    background-color: var(--white-color);
    display: none;
    animation: fadeIn1 ease-in-out 400ms;
    
}
.header__navbar-list-item:nth-child(6):after
{
    display: block;
    position: absolute;
    content: "";
    width: 82px;
    height: 3px;
    right: 13px;
    border-radius: 2px;
    top: 68%;
    background-color: var(--white-color);
    display: none;
    animation: fadeIn1 ease-in-out 400ms;
    
}
.header__navbar-list-item:nth-child(7):after
{
    display: block;
    position: absolute;
    content: "";
    width: 44px;
    height: 3px;
    right: 14px;
    border-radius: 2px;
    top: 68%;
    background-color: var(--white-color);
    display: none;
    animation: fadeIn1 ease-in-out 400ms;
    
}
.header__navbar-item-img
{
    color: #000;
}
.header-item-img
{
    width: 100%;
    height: auto;
    vertical-align: middle;
    position: relative;
}

.thaydoiheader
{
    background-color: #000;
}

.slider-page {
    position: relative;
}

.slider-page .display-img img {
    position: relative;
    /* background-image: url('/Project/img/shop-list-title-img-1.jpg') top center / cover no-repeat; */
    width: 100%;
    z-index: -1;
}

.slider-page .display-title {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
    height: max-content;
    color: #fff;
}

.slider-page .display-title .entry-title{
    font-family: Marcellus,sans-serif;
    font-weight: 400;
    font-size: 60px;
    text-transform: uppercase;
}

@media (min-width: 768px) {
    .container{
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container{
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container{
        width: 1050px;
    }
}
@media (min-width: 1300px) {
    .container{
        width: 1190px;
    }
}
@media (min-width: 1400px) {
    .container{
        width: 1300px;
    }
}

.container{
    padding: 60px;
    margin: auto;
}

/* .container .info-login,
.container .info-couple {
    position: relative;
    display: block;
    padding: 20px 30px;
    margin: 0 0 30px;
    line-height: 53px;
    list-style: none;
    background-color: transparent;
    border: 1px solid #ccc;
} */

.container .checkout .col-set{
    display: flex;
}

.container .checkout .col-set .col1{
    position: relative;
    display: inline-block;
    width: 49%;
    margin-right: 1%;
    /* float: left; */
    vertical-align: middle;
}

.checkout .col-set .col1 .billing-field h3{
    margin: 8px 0 25px;
    font-size: 28px;
    color: #262626;
    font-family: Marcellus,sans-serif;
    font-weight: 400;
}

.checkout .col-set .col1 .billing-field-wrapper .buyer{
    display: flex;
}

.checkout .col-set .col1 .form-row {
    width: 49%;
    margin-right: 2%;
    float: left;
}

.checkout .col-set .col1 .form-row-wide {
    width: 98%;
}

.checkout .col-set .col1 .form-row label{
    display: block;
    margin-bottom: 5px;
}

/* .checkout .col-set .col1 .form-row-last {
    margin-left: 20px;
}

.checkout .col-set .col1 .form-row-first {
    margin-left: 20px;
} */

.checkout .col-set .col1 .input-text{
    position: relative;
    width: 100%;
    margin: 0 0 14px;
    padding: 19px 23px;
    font-family: inherit;
    font-size: 18px;
    line-height: 20px;
    font-weight: inherit;
    color: #656565;
    background-color: transparent;
    border: 1px solid #ccc;
    outline: 0;
    box-sizing: border-box;
}

option {
    font-weight: normal;
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    vertical-align: middle;
    width: 100%;
}

th,td {
    text-align: left;
    vertical-align: middle;
    padding: 25px 10px;
    font-size: 20px;
    font-family: "Open Sans",sans-serif;
    font-size: 15px;
    line-height: 26px;
    font-weight: 300;
    color: #656565;
}

tr {
    border-bottom: 1px solid #000;
}

.container .checkout .col-set .col2{
    position: relative;
    display: inline-block;
    width: 49%;
    margin-right: 1%;
    /* float: left; */
    vertical-align: middle;
}

.container .checkout .col-set .col2 .order-container h3 {
    margin: 8px 0 25px;
    color: #262626;
    font-family: Marcellus,sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 1.28em;
    letter-spacing: 1.75px;
}

.order-review .checkout-review .product-total{
    text-align: right;
}

.order-review .checkout-review td {
    text-align: right;
}

.order-payment-method .method {
    font-family: "Open Sans",sans-serif;
    font-size: 15px;
    line-height: 26px;
    font-weight: 300;
    color: #656565;
}

.order-payment-method {
    display: block;
    margin: 20px 0;
}

.order-payment-method ul {
    list-style: none;
    margin: 0 0 35px;
}

.order-payment-method ul li {
    padding: 15px 0;
    border-bottom: 1px solid #000;
}

.button-alt {
    float: right;
    font-family: "Open Sans",sans-serif;
    font-size: 12px;
    font-weight: 600;
    margin-right: 15px;
    color: #fff;
    background-color: #be9c79;
    border: 1px solid transparent;
    transition: color .3s ease,background-color .3s ease,border-color .3s ease;
    white-space: nowrap;
    cursor: pointer;
    text-transform: uppercase;
    line-height: 1.15rem;
    z-index: 3;
}
.button-alt p
{
    padding: 19px 35px;
}
.button-alt a
{
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 19px 35px;
}
.button-alt:hover {
    background-color: #000;
}

/*FOOTER*/
#footer{
    background-color: #111;
    height: 520px;
    margin-top: 100px;
}
.footer__container{
    width: 1370px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.footer__border{
    border-bottom: 1px solid #232323;
    padding: 72px 0;
    display: flex;
}
.footer__logo-text{
    padding-right: 100px;
    color: #fff;
}
.footer__container .footer__logo-text p{
    color: var(--white-color);
    font: 400 15px/26px "Cairo", Helvetica, sans-serif;
    letter-spacing: 0.50px;
    margin: 0;
    margin-top: 20px;
}


.footer__menu{
    display: flex;
}
.footer__toggle-menu{
    color: var(--white-color);
    padding: 0 15px;
}
.footer__toggle-menu-head{
    font: 400 22px/24px "Marcellus", Helvetica, sans-serif;
    letter-spacing: 0.50px;
    color: var(--white-color);
    margin-bottom: 30px;
    position: relative;
    text-transform: uppercase;
}
.list-unstyled{
    list-style-type: none;
    padding: 0;
}
.list-unstyled li{
    margin-bottom: 20px;
}
.list-unstyled li a{
    font: 400 15px/17px "Cairo", Helvetica, sans-serif;
    color: #fff;
    letter-spacing: 0.50px;
    text-decoration: none;
    display: flex;
}
.list-unstyled li i{
    margin-right: 10px;
    font-size: 18px;
}
.footer__content-section-icon{
    margin-right: 10px;
}
.footer__content-section{
    display: flex;
}
.footer__content-text h3{
    margin-bottom: 10px;
    margin-top: 0;
}
.footer__content-text p{
    font: 400 15px/25px "Cairo", Helvetica, sans-serif;
    letter-spacing: 0.50px;
    color: #cccccc;
    margin: 0;
}
.footer__instagram-img-container{
    margin-bottom: 0 !important;
    margin-right: 10px;
    position: relative;
}
.footer__instagram-img{
    margin: 0 3px 10px;
}
.grid-container{
    display: grid;
    align-content: center;
    grid-template-columns: 1fr 1fr 1fr;
}


.footer__sub-container{
    width: 1370px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.footer_copyright p{
    font: 400 15px/17px "Cairo", Helvetica, sans-serif;
    letter-spacing: 0.50px;
    color: #fff;
    margin: 0;
}
.footer_copyright p a{
    text-decoration: none;
    font: 600 15px/17px "Cairo", Helvetica, sans-serif;
    letter-spacing: 0.50px;
    color: #fff;
    margin: 0;
}
.footer__social-icon-list{
    list-style-type: none;
    display: flex;
}
.footer__social-icon-item{
    padding: 0 10px;
}
.social-icon{
    font-size: 16px;
    color: var(--white-color);
}
.list-hover:hover > a,
.footer__content-text:hover > a,
.list-hover:hover > a > i,
.footer__copyright-hover:hover
{
    color: #97552c;
    transition: all ease-in-out 0.4s;
}
.img-modal{
    position: absolute;
    top: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100%;
    display: flex;
    right: 0%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none; 
}
.img-modal a i{
    position: absolute;
    top: 35%;
    font-size: 26px;
    right: 30%;
}
.footer__instagram-img-container:hover .img-modal{
    transition: all ease-in-out 0.4s;
    display: flex;
    cursor: pointer;
}

.cols-3{
    width: calc(100%/3);
}

.proceed_success
{
    position: fixed;
    top: -96px;
    padding: 20px;
    background-color: rgb(19, 229, 96);
    width: 100%;
    font-size: 18px;
    height: 56px;
    text-align: center;
    color: #000;
    z-index: 100;
    line-height: 56px;
    transition: all linear 1s;
    animation: fade-in-out 1s linear;
    
}
@keyframes fade-in-out {
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}
.content
{
    position: relative;
}
.modal
{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgb(255 255 255 / 50%);
    left: 0;
    display: none;
    z-index: 100;
}
.loader
{
    border: 5px solid #d5cfcf;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    width: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50%;
    height: 20px;
    animation: spin 2s linear infinite; 
}
@keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg);}
}

.return
{
   position: absolute;
   right: 0;
   top: var(--top);
}
:root
{
    --top:0;
}
.button-return:hover
{
    background: #09ccda;
    color: #000;
    transition: none !important;
    cursor: pointer;
}
.button-return a
{
    text-decoration: none;
}
.button-return
{
    padding: 20px;
    font-size: 17px;
    background: #09e9f7;
    border-radius: 15px;
    right: -100px;
    transform: translateX(232px);
    color: #000;
    transition: all linear 1s;
    cursor: pointer;
    border: none;
}


/* CSS toast */
/* Block */
.btn {
    display: inline-block;
    text-decoration: none;
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    padding: 12px 48px;
    border-radius: 50px;
    cursor: pointer;
    min-width: 120px;
    transition: opacity 0.2s ease;
  }
  
  /* ======= Toast message ======== */
  
  #toast {
    position: fixed;
    top: 32px;
    right: 32px;
    z-index: 999999;
  }
  
  .toast {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 2px;
    padding: 20px 0;
    min-width: 400px;
    max-width: 450px;
    border-left: 4px solid;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    transition: all linear 0.3s;
  }
  
  @keyframes slideInLeft {
    from {
      opacity: 0;
      transform: translateX(calc(100% + 32px));
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes fadeOut {
    to {
      opacity: 0;
    }
  }
  ::-webkit-scrollbar {
    width: 10px;
  }
  .toast--success {
    border-color: #47d864;
  }
  
  .toast--success .toast__icon {
    color: #47d864;
  }
  
  .toast--info {
    border-color: #2f86eb;
  }
  
  .toast--info .toast__icon {
    color: #2f86eb;
  }
  
  .toast--warning {
    border-color: #ffc021;
  }
  
  .toast--warning .toast__icon {
    color: #ffc021;
  }
  
  .toast--error {
    border-color: #ff623d;
  }
  
  .toast--error .toast__icon {
    color: #ff623d;
  }
  
  .toast + .toast {
    margin-top: 24px;
  }
  
  .toast__icon {
    font-size: 24px;
  }
  
  .toast__icon,
  .toast__close {
    padding: 0 16px;
  }
  
  .toast__body {
    flex-grow: 1;
  }
  
  .toast__title {
    font-size: 16px;
    font-weight: 600;
    color: #333;
  }
  
  .toast__msg {
    font-size: 14px;
    color: #888;
    margin-top: 6px;
    line-height: 1.5;
  }
  
  .toast__close {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }