*{
    padding: 0;
    margin: 0;
}

body {
    background-image: url(/Project/img/site-bg.jpg);
}

.img-fluid{
    max-width: 100%;
    max-height: 100%;
}
.content
{
    position: relative;
}
:root
{
    --white-color:#fff;
}.header
{
    height: 96px;
    width: 100%;
    position: fixed;
    z-index: 2;
    transition: all ease-in-out 0.3s;
}
.header__navbar
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 96px;
}
.header__navbar-list-item:nth-child(7):hover:after
{
    display: block;
}
.header__navbar-list-item:nth-child(7):after
{
position: absolute;
content: "";
width: 47px;
height: 3px;
right: 12px;
border-radius: 2px;
top: 68%;
background-color: var(--white-color);
display: none;
animation: fadeIn1 ease-in-out 400ms;
}
.header__navbar-list
{
    display: flex;
    justify-content: end;
    color: var(--white-color);
    list-style: none;
    line-height: 96px;
}
.header__navbar-list-item a
{
    text-decoration: none;
    color: var(--white-color);
    padding: 38px 14px;
    font-size: 18px;
}
.header__navbar-list-item
{
    position: relative;
    cursor: pointer;
}
.header__navbar-list-item:nth-child(1):after
{
    display: block;
    position: absolute;
    content: "";
    width: 47px;
    height: 3px;
    right: 13px;
    display: none;
    border-radius: 2px;
    top: 68%;
    background-color: var(--white-color);
}
.header__navbar-list-item:nth-child(2):hover:after,
.header__navbar-list-item:nth-child(3):hover:after,
.header__navbar-list-item:nth-child(4):hover:after,
.header__navbar-list-item:nth-child(1):hover:after,
.header__navbar-list-item:nth-child(6):hover:after,
.header__navbar-list-item:nth-child(8):hover .span
{
    display: block;
    
}
.header__navbar-list-item:nth-child(2):after
{
    display: block;
    position: absolute;
    content: "";
    width: 72px;
    height: 3px;
    right: 13px;
    border-radius: 2px;
    top: 68%;
    background-color: var(--white-color);
    display: none;
    animation: fadeIn1 ease-in-out 400ms;
    
}
@keyframes fadeIn1{
    0%
    {
        transform:scaleX(0);
    }
    to
    {
        transform:scaleX(1);
    }
}
.header__navbar-list-item:nth-child(3):after
{
    display: block;
    position: absolute;
    content: "";
    width: 62px;
    height: 3px;
    right: 13px;
    border-radius: 2px;
    top: 68%;
    background-color: var(--white-color);
    display: none;
    animation: fadeIn1 ease-in-out 400ms;
    
}
.header__navbar-list-item:nth-child(4):after
{
    display: block;
    position: absolute;
    content: "";
    width: 57px;
    height: 3px;
    right: 11px;
    border-radius: 2px;
    top: 68%;
    background-color: var(--white-color);
    display: none;
    animation: fadeIn1 ease-in-out 400ms;
    
}
.header__navbar-list-item:nth-child(5):after
{
    display: block;
    position: absolute;
    content: "";
    width: 80px;
    height: 3px;
    right: 14px;
    border-radius: 2px;
    top: 68%;
    background-color: var(--white-color);
    animation: fadeIn1 ease-in-out 400ms;
    
}
.header__navbar-list-item:nth-child(6):after
{
    display: block;
    position: absolute;
    content: "";
    width: 60px;
    height: 3px;
    right: 13px;
    border-radius: 2px;
    top: 68%;
    background-color: var(--white-color);
    display: none;
    animation: fadeIn1 ease-in-out 400ms;
    
}

.header__navbar-item-img
{
    color: #000;
}
.header-item-img
{
    width: 100%;
    height: auto;
    vertical-align: middle;
    position: relative;
}

.thaydoiheader
{
    background-color: #000;
}

.slider-blog{
    position: relative;
    margin: 0 0 80px 0;
}

.slider-blog::before {
    content: "";
    bottom: -10px;
    width: 100%;
    height: 21px;
    background-image: url(/Project/img/tb-about-before.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 1;
}

.slider-blog .slider-text .text-content {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
    height: max-content;
    color: #fff;
}

.slider-blog .slider-text .text-content h1 {
    font: 400 45px/47px "Marcellus", Helvetica, sans-serif;
    letter-spacing: 0.30px;
    margin: 0 0 20px 0;
    text-transform: uppercase;
}

.slider-blog .slider-text .text-content ul {
    padding: 0;
    margin: 0;
}

.slider-blog .slider-text .text-content ul li {
    list-style: none;
    display: inline-block;
    font: 300 20px/22px "Cairo", Helvetica, sans-serif;
    position: relative;
}

.slider-blog .slider-text .text-content ul li:nth-child(1):before{
    content: "/";
    position: absolute;
    right: -6px;
    left: auto;
    bottom: auto;
    top: auto;
    font-size: 20px;
    font-weight: 300;
    color: #fff;
}

.slider-blog .slider-text .text-content ul li a{
    color: #fff;
    padding: 0 10px;
    text-decoration: none;
}

.container{
    padding: 0 15px;
    margin: auto;
}

@media (min-width: 768px) {
    .container{
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container{
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container{
        width: 1170px;
    }
}
@media (min-width: 1300px) {
    .container{
        width: 1270px;
    }
}
@media (min-width: 1400px) {
    .container{
        width: 1370px;
    }
}
@media (min-width: 1500px) {
    .container{
        width: 1440px;
    }
}

.container .custom-title {
    text-align: center;
}

.container .custom-title p{
    color: #97552c;
    font: 400 15px/17px "Cairo", Helvetica, sans-serif;
    letter-spacing: 1px;
    margin: 0 0 20px 0;
    text-transform: uppercase;
}

.container .custom-title h2 {
    font: 400 45px/47px "Marcellus", Helvetica, sans-serif;
    color: #111111;
    letter-spacing: 1px;
    margin: 0 0 45px 0;
    text-transform: uppercase;
}

#blog-page-cms {
    margin-bottom: 100px;
}

.container .contact-page-ticket::before{
    content: "";
    position: absolute;
    top: auto;
    bottom: -84px;
    left: -128px;
    right: auto;
    background-image: url(/Project/img/tb-contact-page-before.png);
    background-repeat: no-repeat;
    width: 291px;
    height: 331px;
    z-index: -1;
    background-size: contain;
}

.container .contact-page-ticket::after{
    content: "";
    position: absolute;
    left: auto;
    right: -174px;
    top: -138px;
    bottom: auto;
    background-image: url(/Project/img/tb-contact-page-after.png);
    background-repeat: no-repeat;
    width: 291px;
    height: 331px;
    z-index: -1;
    background-size: contain;
}

.container .contact-page-ticket{
    background-color: #fff;
    padding: 40px;
    margin: 0 120px;
    position: relative;
}

.container .contact-page-info .contact-page-name{
    display: flex;
    justify-content: space-between;
}

.container .contact-page-ticket .contact-page-info .contact-page-name .contact-page-name1:first-child{
    margin: 0 10px 20px 0;
}

.container .contact-page-ticket .contact-page-info .contact-page-name .contact-page-name1{
    width: 32.11%;
    margin: 0 20px 10px;
    display: inline-block;
}

.container .contact-page-ticket .contact-page-info .contact-page-name .contact-page-name1:last-child{
    margin: 0 0 10px 10px;
}

.container .contact-page-ticket .contact-page-info .contact-page-name .contact-name,
.container .contact-page-ticket .contact-page-info .contact-page-name .contact-email,
.container .contact-page-ticket .contact-page-info .contact-page-name .contact-phone{
    font: 400 16px/18px "Cairo", Helvetica, sans-serif;
    color: #939393;
    letter-spacing: 0.20px;
    border: 1px solid #dcdcdc;
    width: 90%;
    outline: none;
    padding-left: 35px;
    height: 46px;
    position: relative;
}

.container .contact-page-ticket .contact-page-info .contact-page-name2 .contact-subject{
    width: 96.8% !important;
    font: 400 16px/18px "Cairo", Helvetica, sans-serif;
    color: #939393;
    letter-spacing: 0.20px;
    border: 1px solid #dcdcdc;
    outline: none;
    padding-left: 35px;
    height: 46px;
    position: relative;
}

.container .contact-page-ticket .contact-page-info .contact-page-name3 .contact-message{
    width: 96.8% !important;
    font: 400 16px/18px "Cairo", Helvetica, sans-serif;
    color: #939393;
    letter-spacing: 0.20px;
    border: 1px solid #dcdcdc;
    outline: none;
    padding-left: 35px;
    height: 46px;
    position: relative;
    padding-top: 15px;
}

.container .contact-page-ticket .contact-page-info .contact-page-name .contact-page-name1 i{
    position: relative;
    left: 15px;
    top: -33px;
    bottom: 0;
    right: auto;
    margin: auto 0;
    color: #939393;
}

.fa-sheet-plastic{
    position: relative;
    left: 15px;
    top: -33px;
    bottom: 0;
    right: auto;
    margin: auto 0;
    color: #939393;
}

.fa-pencil{
    position: relative;
    left: 15px;
    top: -95px;
    bottom: 0;
    right: auto;
    margin: auto 0;
    color: #939393;
}

.container .contact-page-ticket .contact-page-info .contact-page-name .contact-page-name1{
    content: "\ed01";
}


.container .contact-page-ticket .contact-page-info .contact-page-name2 {
    margin: 0 0 20px 0;
}

.container .contact-page-ticket .contact-page-info .contact-page-name3 {
    margin-bottom: 20px;
}

.container .contact-page-ticket .contact-page-info .contact-page-name3 .contact-message {
    width: 100%;
    /* padding: 13px 17px 9px 40px; */
    height: auto;
    
}

.container .contact-page-ticket .contact-page-submit-button {
    width: auto;
    font: 400 16px/18px "Cairo", Helvetica, sans-serif;
    color: #fff;
    letter-spacing: 0.20px;
    display: inline-block;
    outline: none;
    height: auto;
    text-transform: uppercase;
    padding: 16px 38px;
    background-color: #97552c;
}

.container .contact-page-ticket .contact-page-submit-button:hover{
    background-color: #000;
}

/*FOOTER*/
#footer{
    background-color: #111;
    height: 456px;
}
.footer__container{
    width: 1370px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
}
.footer__border{
    border-bottom: 1px solid #232323;
    padding: 72px 0;
    display: flex;
    height: 100%;
}
.footer__logo-text{
    padding-right: 100px;
    color: #fff;
}
.footer__container .footer__logo-text p{
    color: var(--white-color);
    font: 400 15px/26px "Cairo", Helvetica, sans-serif;
    letter-spacing: 0.50px;
    margin: 0;
    margin-top: 20px;
}


.footer__menu{
    display: flex;
}
.footer__toggle-menu{
    color: var(--white-color);
    padding: 0 15px;
}
.footer__toggle-menu-head{
    font: 400 22px/24px "Marcellus", Helvetica, sans-serif;
    letter-spacing: 0.50px;
    color: var(--white-color);
    margin-bottom: 30px;
    position: relative;
    text-transform: uppercase;
}
.list-unstyled{
    list-style-type: none;
    padding: 0;
}
.list-unstyled li{
    margin-bottom: 20px;
}
.list-unstyled li a{
    font: 400 15px/17px "Cairo", Helvetica, sans-serif;
    color: #fff;
    letter-spacing: 0.50px;
    text-decoration: none;
    display: flex;
}
.list-unstyled li i{
    margin-right: 10px;
    font-size: 18px;
}
.footer__content-section-icon{
    margin-right: 10px;
}
.footer__content-section{
    display: flex;
}
.footer__content-text h3{
    margin-bottom: 10px;
    margin-top: 0;
}
.footer__content-text p{
    font: 400 15px/25px "Cairo", Helvetica, sans-serif;
    letter-spacing: 0.50px;
    color: #cccccc;
    margin: 0;
}
.footer__instagram-img-container{
    margin-bottom: 0 !important;
    margin-right: 10px;
    position: relative;
}
.footer__instagram-img{
    margin: 0 3px 10px;
}
.grid-container{
    display: grid;
    align-content: center;
    grid-template-columns: 1fr 1fr 1fr;
}
a:hover
{
    text-decoration: none !important;
    color: #fff !important;
}

.footer__sub-container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
}
.footer_copyright p{
    font: 400 15px/17px "Cairo", Helvetica, sans-serif;
    letter-spacing: 0.50px;
    color: #fff;
    margin: 0;
}
.footer_copyright p a{
    text-decoration: none;
    font: 600 15px/17px "Cairo", Helvetica, sans-serif;
    letter-spacing: 0.50px;
    color: #fff;
    margin: 0;
}
.footer__social-icon-list{
    list-style-type: none;
    display: flex;
}
.footer__social-icon-item{
    padding: 0 10px;
}
.social-icon{
    font-size: 16px;
    color: var(--white-color);
}
.list-hover:hover > a,
.footer__content-text:hover > a,
.list-hover:hover > a > i,
.footer__copyright-hover:hover
{
    color: #97552c;
    transition: all ease-in-out 0.4s;
}
.img-modal{
    position: absolute;
    top: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100%;
    display: flex;
    right: 0%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none; 
}
.img-modal a i{
    position: absolute;
    top: 35%;
    font-size: 26px;
    right: 30%;
}
.footer__instagram-img-container:hover .img-modal{
    transition: all ease-in-out 0.4s;
    display: flex;
    cursor: pointer;
}

.cols-3{
    width: calc(100%/3);
}

/* #footer::before{
    content: "";
    position: absolute;
    left: 0;
    right: auto;
    bottom: auto;
    top: auto;
    background-image: url(/Project/img/tb-footer-cms-before.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 182px;
    height: 428px;
}

#footer::after{
    content: "";
    position: absolute;
    left: auto;
    right: 0;
    bottom: auto;
    top:auto;
    background-image: url(/Project/img/tb-footer-cms-before.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 182px;
    height: 428px;
    transform: rotate(180deg);
} */

/* cart */
.cart
{
    position: fixed;
    right: 37px;
    bottom: 35px;
    z-index: 999;
}
.cart:hover
{
    opacity: 0.8;
}
.cart_icon i
{
    font-size: 25px;
    color: #fff;
    border-radius: 50%;
    background-color: #000;
    padding: 13px;
    box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.16);
}
.cart_icon a
{
    text-decoration: none;
}
.cart span {
    position: absolute;
    content: "";
    display: block;
    font-size: 1.6rem;
    bottom: 40px;
    height: 20px;
    display: flex;
    width: 20px;
    justify-content: center;
    align-items: center;
    right: 10px;
    background: red;
    color: #fff;
    border-radius: 50%;
}
.header__navbar-list-item:nth-child(8):hover .nav_ava
{
    display: block;
    transition: all ease-in-out 1s;

}
.avatar
{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.icon_avatar
{
    font-size: 27px;
    display: inline-block;
    width: 45px;
    height: 45px;
    background-color: #fff;
    color: #000;
    border-radius: 50%;
    padding: 0px;
    cursor: pointer;
}
.icon_avatar i
{
    transform: translateX(10px) translateY(-25px);
}
.name_user
{
    margin-left: 6px;
    font-size: 18px;
}
.list-user
{
    width: 130px;
    background-color: #fff;
    position: absolute;
    z-index: 1;
    left: 50px;
}
.nav_ava
{
    position: absolute;
    
   
    cursor: pointer;
    left: 16px;
    top: 80px;
    display: none   ;
}
@keyframes fadeNav {
    0%
    {
        transform: translateY(-50px);
        opacity: 0;
    }
    100%
    {
        transform: translateY(0);
        opacity: 1;
    }
}

.modal_nav
{
    position: absolute;
    content: "";
    display: block;
    top: -53px;
    border: 36px solid;
    right: -150px;
    border-color: transparent transparent #fff transparent;
}
.header__navbar-list-item:nth-child(7):hover .nav_ava
{
    display: block;
    transition: all ease-in-out 1s;
    /* animation: fadeIn ease-in-out 1s; */
}
.nav_ava_list:hover a
{
    color: #000;
}
.nav_ava_list:hover
{
    opacity: 0.8;
}
.nav_ava_list
{
    background-color: #fff;
    display: flex;
    align-items: center;
    color: #000;
    height: 45px;
    line-height: 100%;
    justify-content: space-around;
    width: 100px;
    animation: fadeNav linear 0.3s;
}
.nav_ava_a a
{
    font-size: 16px;
    padding: 0;
    color: #000 !important;
}
.span
{
    display: block;
    position: absolute;
    content: "";
    width: 30px;
    height: 3px;
    right: 0px;
    border-radius: 2px;
    top: 68%;
    background-color: var(--white-color);
    display: none;
    animation: fadeIn1 ease-in-out 400ms; 
}
.list 
{
    height: 100%;
}
.header__navbar-list-item.login
{
    display: none;
}