.login_left
{
    background-image: url(/Web-index/img/gallary.jpg);
    background-repeat: none;
    background-size: cover;
    height: 100%;
    position: relative;
    
}
html,body
{
    height: 100%    ;
}
.login
{
    height: 100%;
}
.container-fluid
{
    height: 100%;
}
.login-img
{
    top: 63px;
    right: 32%;
    position: absolute;
}
.login-intro
{
    position: absolute;
    display: flex;
    justify-content: center;
    right: 14%;
    align-items: center;
    top: 37%;
    flex-direction: column;
}
.login-intro h2
{
    font-size: 7.4rem;
    text-transform: uppercase;
    font-family: Marcellus;
    letter-spacing: 0.2rem;
    color: #fff;
    font-style: italic;
}
.login-intro p
{
    font-size: 3.4rem;
    text-align: center;
    color: #fff;
    font-family: Marcellus;
    font-style: italic;
}
.left-icon-1
{
    position: absolute;
    top: 50%;
    right: 17%;
}

.left-icon-2
{
    position: absolute;
    top: 60%;
    right: 40%;
}
.left-icon-3
{
    position: absolute;
    top: 50%;
    right: 50%;
}
.left-icon-4
{
    position: absolute;
    top: 61%;
    right: 70%;
}
.left-icon-5
{
    position: absolute;
    top: 50%;
    right: 80%;
}
.login_nav
{
    display: flex;
   justify-content: right;
}
.login_nav p
{
    font-size: 1.6rem;
    padding: 10px;
}
.login_nav p a
{
    text-decoration: none;
    border: none;
}
.login_google
{
    display: flex;
    align-items: center;
    width: 250px;
    border-radius: 2px;
    height: 42px;
    background-color: #1a73e8;
}
.google-text
{
    font-size: 1.6rem;
    transform: translateY(5px);
    color:#fff;
    font-weight: 500;
    margin-left: 25px;
}
.login_google
{
    background-color: #1a73e8;
}
.google-icon
{
    width: 27px;
  
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
.img_gg
{
    width: 34px;
    margin-left: 3px;
    display: flex;
}
.login_twitter
{
    margin-left: 20px;
    padding: 10px;
    background-color: #ede8e8;
    border-radius: 12px;
}
.twitter-icon
{
    width: 22px;
}
.login_container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 68px;
    align-items: center;
    margin-right: 80px;
}
.login_header
{
    text-align: left;
    margin-left: -140px;
    margin-bottom: 20px;
    font-weight: 700;
}
.login_gg
{
    display: flex;
    margin-bottom: 20px;
}
.login_line
{
    position: relative;
}
.login_line span
{
    font-size: 1.6rem;
    margin-left: 86px;
}
.login_line::before
{
    position: absolute;
    content: "";
    display: block;
    height: 1px;
    width: 177px;
    right: 31px;
    top: 12px;
    background-color: #e0e0e0;
}
.login_line::after
{
    position: absolute;
    content: "";
    display: block;
    height: 1px;
    width: 201px;
    right: -214px;
    top: 12px;
    background-color: #e0e0e0;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 1.6rem;
    background-color: #f3f3f4;
    border: none;
  }
.login_user
{
    display: flex;
    flex-direction: column;
    margin-left: 113px;
    width: 425px;
}
label
{
    font-size: 1.6rem;
}
::placeholder
{
    font-size: 1.6rem;
}

.button {
    background-color: var(--Brown-color);
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 10px !important;
}
.button span
{
    font-size: 1.6rem;
}
.margin-bot
{
    margin-bottom: 20px !important;
}
.button:hover
{
    opacity: 0.8;
    cursor: pointer;
}
label
{
    display: inline-flex !important;
    justify-content: space-between;
}
label a
{
    text-decoration: none;
}
.container-fluid
{
    position: relative;
}
.login_comeback
{
    position: fixed;
    width: 54px;
    right: 27px;
    bottom: 27px;
    background-color: #d3d0d0;
    border: 50%;
    padding: 10px;
    border-radius: 50%;
}
.login_comeback a
{
    text-decoration: none;
}
.login_false
{
    position: absolute;
    top: 0;
    background-color: red;
    height: 50px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.6rem;
    transform: translateY(-51px);
}
.login_false.open_false
{
    transform: translateY(0);
}
.login_twitter:hover
{
    opacity: 0.8;
    cursor: pointer;
}
.login_gg:hover
{
    opacity: 0.8;
    cursor: pointer;
}
.label
{
    width: 100%;
}
::-webkit-scrollbar {
    width: 10px;
  }
/* form */
.form-group.invalid .form-control {
    border-color: #f33a58;
  }
  
  .form-group.invalid .form-message {
    color: #f33a58;
  }
  
  .form-message {
    font-size: 1.2rem;
    line-height: 1.6rem;
    padding: 4px 0 0;
  }