::-webkit-scrollbar {
    width: 0px;
  }
.header
{
    height: 96px;
    width: 100%;
    position: fixed;
    z-index: 2;
    transition: all ease-in-out 0.3s;
}
.slider_img
{
    transition: all ease 0.5s;
    width: 100%;
    height: auto;
}
.header__navbar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 96px;
}
.header__navbar-list
{
    display: flex;
    justify-content: end;
    color: var(--white-color);
    list-style: none;
    line-height: 96px;
}
.header__navbar-list-item a
{
    text-decoration: none !important;
    color: var(--white-color) !important;
    padding: 38px 14px;
    font-size: 1.8rem;

}
.header__navbar-list-item
{
    position: relative;
    /* transition: all ease-in 1s; */
}
.header__navbar-list-item:nth-child(1):after
{

    position: absolute;
    content: "";
    width: 50px;
    height: 3px;
    right: 13px;
    border-radius: 2px;
    top: 68%;
    background-color: var(--white-color);
}
.header__navbar-list-item:nth-child(1):hover::after
{
    animation: fadeIn1 ease-in-out 400ms;
}
.header__navbar-list-item:nth-child(2):hover:after,
.header__navbar-list-item:nth-child(3):hover:after,
.header__navbar-list-item:nth-child(4):hover:after,
.header__navbar-list-item:nth-child(5):hover:after,
.header__navbar-list-item:nth-child(6):hover:after,
.header__navbar-list-item:nth-child(7):hover .span


{
    display: block;
    
}

.header__navbar-list-item:nth-child(2):after
{
   
    position: absolute;
    content: "";
    width: 75px;
    height: 3px;
    right: 13px;
    border-radius: 2px;
    top: 68%;
    background-color: var(--white-color);
    display: none;
    animation: fadeIn1 ease-in-out 400ms; 
}
.header__navbar-list-item:nth-child(3):after
{

    position: absolute;
    content: "";
    width: 57px;
    height: 3px;
    right: 13px;
    border-radius: 2px;
    top: 68%;
    background-color: var(--white-color);
    display: none;
    animation: fadeIn1 ease-in-out 400ms;
}

.header__navbar-list-item:nth-child(4):after
{
 
    position: absolute;
    content: "";
    width: 48px;
    height: 3px;
    right: 11px;
    border-radius: 2px;
    top: 68%;
    background-color: var(--white-color);
    display: none;
    animation: fadeIn1 ease-in-out 400ms;
    
}
.header__navbar-list-item:nth-child(5):after
{
  
    position: absolute;
    content: "";
    width: 89px;
    height: 3px;
    right: 14px;
    border-radius: 2px;
    top: 68%;
    background-color: var(--white-color);
    display: none;
    animation: fadeIn1 ease-in-out 400ms;
    
}
.header__navbar-list-item:nth-child(6):after
{
   
    position: absolute;
    content: "";
    width: 64px;
    height: 3px;
    right: 13px;
    border-radius: 2px;
    top: 68%;
    background-color: var(--white-color);
    display: none;
    animation: fadeIn1 ease-in-out 400ms;
    
}

.header__navbar-item-img
{
    color: #000;
}
.header-item-img
{
    width: 100%;
    height: auto;
    vertical-align: middle;
    position: relative;
}
.slider-img
{
    width: 100%;
}
.slider__content
{
    position: absolute;
    top: 22%;
    color: var(--white-color);
}
.slider__content h2{
    font-size: 9.6rem;
    font-family: "Marcellus",Helvetica,sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-weight: 400;
    margin-left: 90px;
    margin-bottom: 20px;
}
.slider__content h3{
    font-size: 2.8rem;
    font-family: "Marcellus",Helvetica,sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    margin-left: 90px;
    margin-bottom: 20px;
}
.slider__content p{
    font-size: 1.8rem;
    font-family: "Cario",Helvetica,sans-serif;
    font-weight: 400;
    margin-left: 90px;
    margin-bottom: 40px;
    line-height: 4.2rem;
    width: 592px;
}
.thaydoiheader
{
    background-color: #000;
}
.header__slider-img
{
    background-image:  url('/Web-index/img/header.jpg');
    position: relative;
    height: 750px;
    /* animation: fadeIn linear 1s; */
    transition: all linear 1s;
}

.slider__button
{
    text-decoration: none;
    margin-left: 90px;
    padding: 16px 38px;
    color: var(--white-color);
    font-size: 1.6rem;
    background-color: #97552c;
}
.BtnOrder
{
    animation: sliderLeftBtn linear 1s;
}
@keyframes sliderLeftBtn {
    from 
    {
       transform: translateX(-100px);
        opacity: 0;
    }
    to
    {
        transform: translateX(0);
        opacity: 1;
    }
}
.slider__button:hover
{
    background-color: #fff;
    color: #000;
    transition: all ease-in-out 0.3s;
}
.header__slider-img::after
{
    position: absolute;
    display: block;
    content: "";
    background-image: url(/Web-index/img/slider__bottom.png);
    width: 100%;
    top: 99%;
    height: 860px;
}
.about__us
{
    position: relative;
    height: 650px;
}
.about__us::before
{
    position: absolute;
    display: block;
    content: "";
    background-image: url(/Web-index/img/slider__bottom.png);
    width: 100%;
    height: 860px;
}

.abus-img1
{
    position: absolute;
    top: 23%;
    right: 47%;
    width: 45%;
}
.abus-img2
{
    position: absolute;
    top: 50%;
    left: 29%;
    width: 45%;
}
.abus-img3
{
    top: 19%;
    position: absolute;
    width: 181px;
    right: 18%;
    height: 253px;;
}
.about__us-content
{
    margin-top: 70px;
}
.about__us-content h3
{
    font-family: "Cario", Helvetica, sans-serif;
    text-transform: uppercase;
    color: #97552c;
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
    margin-bottom: 30px;
}
.about__us-content h2
{
    font-family: "Marcellus",Helvetica, sans-serif;
    color: #111111;
    letter-spacing: 0.06rem;
    margin: 0 0 20px 0;
    text-transform: uppercase;
    font-size: 4.5rem;
    font-weight: 300;
}
.about__us-content p {
    font-family: "Cario", Helvetica, sans-serif;
    color: #111111;
    letter-spacing: 0.40px;
    margin: 0 0 20px 0;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.6rem;
}
.about__us-content h4
{
    color: #111111;
    letter-spacing: 0.30px;
    margin: 0 0 10px 0;
    font-family: "Marcellus", Helvetica, sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.6rem;
}
.about__us-content a
{
    color: #fff;
    letter-spacing: 0.20px;
    text-decoration: none !important;
    box-shadow: none;
    display: inline-block;
    padding: 16px 38px;
    background-color: #97552c;
    font-family: "Carios", Helvetica, sans-serif;
    font-size: 1.6rem;
    transition: all ease-in-out 0.4s;
    margin-top: 9.4rem;
}
.about__us-content a:hover
{
    background-color: #111;
    color: #fff;
    
}
/* Section */
 
.section
{
    background-image: url(/Web-index/img/section.jpg);
    background-attachment: fixed;
    background-position: center;
    position: relative;
    height: 700px;
    overflow: hidden;
}
.about__us::after
{
    content: "";
    display: block;
    background-image: url(/Web-index/img/slider__bottom.png);
    position: absolute;
    bottom: -1%;
    height: 21px;
    width: 100%;
    transform: rotateX(180deg);
    z-index: 1;
}

.section__content
{
    width: 100%;
}
.section__icon
{
    justify-content: center;
    display: flex;
    align-items: center;
    position: absolute;
    top: 27%;
    right: 83%;
    
}
.icon-test{
    position: absolute;
    color: #000;
    font-size: 2.4rem;
    font-style: italic;
    left: 10%;
    text-transform: uppercase;
    top: 34%;
}

.section_test
{
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 0.5px solid rgba(205, 205, 205, 0.2);
}

.section__header-2:hover
{
    color: #97552c;
    cursor: pointer;
}

.section__icon-2
{
    text-align: center;
    padding-top: 190px;
}
.icon-2 
{
    font-size: 100px;
    color: #fff;
    padding: 20px 20px 0 20px;
}
.icon-test:hover,
.icon-2:hover
{
    animation: icon__section ease-in-out 1s;
}
.section__header-2
{
    font-size: 3.2rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.3px;
    padding-top: 25px;
    position: relative;
}
.section__header-2::after
{
    position: absolute;
    display: block;
    content: "";
    width: 57px;
    bottom: -23px;
    left: 156px;
    border-radius: 3px;
    height: 3px;
    background-color: #fff;
}
.section__content-2
{
    padding: 37px 20px 0;
    color: #fff;
    line-height: 3rem;
    letter-spacing: 1px;
    font-size: 1.6rem;
}
.section::after
{
    position: absolute;
    content: "";
    display: block;
    bottom: -2%;
    height: 20px;
    background-image: url(/Web-index/img/slider__bottom.png);
    width: 100%;
}
/* container */
.container_img
{
    background-image: url(/Web-index/img/template.jpg);
    height: 860px;
    width: 100%;
}
.container__content
{
    width: 85%;
    margin: 0 auto;
}
.container__content-1
{
    padding-top: 166px;
    display: flex;
}
.container__content-3
{
    padding-top: 166px;
    display: flex;
}
.container__content-3 h2,
.container__content-4 h2{
    font-size: 2.4rem;
    color: #111;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    text-align: left;
}
.container__content-2 h2,
.container__content-1 h2
{
    font-size: 2.4rem;
    color: #111;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    text-align: right;
}
.container__content-3 p,
.container__content-4 p
{
    text-align: left;
    padding-top: 10px;
    color: #111;
    letter-spacing: 0.2px;
    font-size: 1.6rem;
    font-weight: 400;
}
.container__content-2 p,
.container__content-1 p
{
    text-align: right;
    padding-top: 10px;
    color: #111;
    letter-spacing: 0.2px;
    font-size: 1.6rem;
    font-weight: 400;
}
.container-content-p
{
    width: 70%;
    margin-bottom: 50px;
}
.container-content-icon-1,
.container-content-icon
{
    width: 20%;
    position: relative;
}
.container-img-1
{
    width: 45px;
    height: 40px;
    left: 2.5%;
    position: absolute;
    top: -7%;
}
.container-img
{
    width: 45px;
    height: 40px;
    left: 30%;
    position: absolute;
    top: -7%;
}
.container__content-circle
{
    position: relative;
    border-radius: 50%;
    width: 60px;
    left: 34px;
    height: 60px;
    background-color: #f0ece0;
}
.container__content-circle-1
{
    position: relative;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: #f0ece0;
}
.container__content-4,
.container__content-2
{
    display: flex;
}

.container__slider
{
    padding-top: 250px;
}
/* Gallery */
.gallery
{
    background-image: url(/Web-index/img/gallary.jpg);
    background-attachment: fixed;
}
.gallery__content
{
    padding: auto;
    padding: 43px 15px;
}
.gallery__content-header p
{
    font-size: 1.5rem;
    color: var(--white-color);
    margin: 0 0 20px 0;
    text-transform: uppercase;
    font-family: "Cario", Helvetica, sans-serif;
}
.gallery__content-header
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.gallery__content-header h2
{
    color: #fff;
    letter-spacing: 1px;
    margin: 0 0 45px 0;
    text-transform: uppercase;
    font-size: 4.5rem;
    font-weight: 400;
}

.gallery__img-slider-1,
.gallery__img-slider-2,
.gallery__img-slider-3,
.gallery__img-slider-4,
.gallery__img-slider-5 
{
    position: relative;
}
.gallery__img-slider-1 img,
.gallery__img-slider-2 img,
.gallery__img-slider-3 img,
.gallery__img-slider-4 img,
.gallery__img-slider-5 img
{
    width: 100%;
    height: 370px;
    background-size: contain;
    overflow: hidden;
    object-fit: cover;
}

.gallery__img-slider-1 img,
.gallery__img-slider-2 img,
.gallery__img-slider-3 img,
.gallery__img-slider-4 img,
.gallery__img-slider-5 img
{
    
    
    transition-duration: 0.5s;
        /* Safari & Google Chrome */
        -webkit-transition-duration: 0.5s; 
        /* Mozilla Firefox */
        -moz-transition-duration: 0.5s; 
        /* Opera */
        -o-transition-duration: 0.5s;
        /* IE 9 */
        -ms-transition-duration: 0.5s;
}

.gallery__img-slider-1:hover ,
.gallery__img-slider-2:hover ,
.gallery__img-slider-3:hover ,
.gallery__img-slider-4:hover ,
.gallery__img-slider-5:hover 
{
    
    overflow: hidden;
}

.gallery__img-slider-1:hover img,
.gallery__img-slider-2:hover img,
.gallery__img-slider-3:hover img,
.gallery__img-slider-4:hover img,
.gallery__img-slider-5:hover img
{
    animation: fadeIn ease-in-out 1s;
    transform: scale(1.2);
        /* Safari & Google Chrome */
        -webkit-transform: scale(1.2);
        /* Mozilla Firefox */
        -moz-transform: scale(1.2); 
        /* Opera */
        -o-transform: scale(1.2);
        /* IE 9 */
        -ms-transform: scale(1.2);
    cursor: pointer; 
}


.gallery__img-slider-1 img,
.gallery__img-slider-3 img,
.gallery__img-slider-5 img
{
    margin-top: 50px;
}

.margin-img
{
    margin-left: 66px;
}
@media (min-width: 1113px) {
    .l-2 {
        flex: 1 0 16.66667% !important; 
        max-width: 18.66667% !important; 
    }
}
.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
   
  }
  .img__overlay-this
  {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    height: 589px;
    top: 41px;
    left: 50%;
    transform: translateX(-50%);
    border: 5px solid var(--Brown-color);
  }
  .open
  {
    display: block ;
  }
  .img__overlay-close:hover
  {
    animation: routeClose ease-in-out 0.4s;
  }
  .img__overlay-close
  {
    position: absolute;
    right: 30%;
    font-size: 2.6rem;
    padding: 4px 12px;
    cursor: pointer;
    color: #fff;
  }
  .img__overlay
  {
    position: relative;
  }
  .img__overlay-next-icon-right:hover
  {
    color: rgb(129, 121, 121);
  }
  .img__overlay-next-icon-right
  {
    position: absolute;
    right: 28%;
    font-size: 18px;
    bottom: -343px;
    color: #fff;
  }
  .img__overlay-next-icon-left
  {
    position: absolute;
    right: 69%;
    font-size: 18px;
    bottom: -343px;
    color: #fff;
  }
  
  .img__overlay-next-icon-right i:hover
  {
    background-color: #785138;
  }
  .img__overlay-next-icon-left i:hover
  {
    background-color: #785138;
  }
  .img__overlay-next-icon-right i
  {
    padding: 12px;
    background-color: #97552c;
  }
  .img__overlay-next-icon-left i
  {
    padding: 12px;
    background-color: #97552c;
  }
  .slider_search-1,
  .slider_search-2,
  .slider_search-3,
  .slider_search-4,
  .slider_search-5
  {
    color: #fff;
    position: absolute;
    transition: all ease-in-out 0.3s;
    padding: 15px;
    background-color: #785138;
    display: none;
    font-size: 20px;
  }
  .slider_search-1
  {
    top: 40%;
    left: 41%;
  }
  .slider_search-2
  {
    top: 32%;
    right: 40%;
  }
  .slider_search-3
  {
    top: 45%;
    right: 38%;
  }
  .slider_search-4
  {
    top: 32%;
    right: 40%;
  }
  .slider_search-5
  {
    top: 43%;
    right: 40%;
  }

  .slider_search-1.open,
  .slider_search-2.open,
  .slider_search-3.open,
  .slider_search-4.open,
  .slider_search-5.open
  {
    display: block;
  }
  .js-search:hover
  {
    background-color: #fff;
    color: #000;
    cursor: pointer;
  }
  .gallery_seemore
  {
    font-size: 16px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .gallery_seemore a
  {
    color: #000 !important;
    padding: 20px 40px;
    background-color: #fff;
    text-decoration: none;
    transition: all ease-in-out 0.3s;
  }
  .gallery_seemore a:hover
  {
    background-color: #785138;
    text-decoration: none;
    color: var(--white-color);
    color: #fff !important;
  }

  /* Customer feedback */
  .customer_feedback
  {
    position: relative;
    background-image: url(/Web-index/img/template.jpg);
    height: 650px;
    width: 100%;
  }
  .customer_container
  {
    padding: 95px 15px ;
    height: 100%;
  }
  .customer_title
  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .customer_title p
  {
    width: 100%;
    color: #97552c;
    font-size: 1.6rem;
    text-align: center;
    letter-spacing: 1px;
    margin: 0 0 20px 0;
    text-transform: uppercase;
  }
  .customer_title h2
  {
    letter-spacing: 1px;
    margin: 0 0 45px 0;
    text-transform: uppercase;
    color: #111;
    font-size: 4.5rem;
    font-weight: 400;
  }
  .customer_section-avatar
  {
    
    display: inline-block;
  }
  .customer_section-avatar img
  {
    border-radius: 50%;
  }
  .customer_section-2
  {
    padding: 80px 90px;
    display: flex;
    border: 2px dashed #ccb09e;
    background-color: #fff;
  }
  .customer_section-3
  {
    padding: 80px 90px;
    display: flex;
    border: 2px dashed #ccb09e;
    background-color: #fff;
  }
  .customer_section
  {
    padding: 80px 90px;
    display: flex;
    border: 2px dashed #ccb09e;
    background-color: #fff;
  }

.customer_section-name
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}
.customer_section-name h2
{
    color: #111111;
    margin: 0 0 10px 0;
    text-transform: uppercase;
    font-size: 2.6rem;
    font-weight: 400;
}
.customer_section-name p
{
    color: #111;
    font-size: 1.6rem;
    text-align: left;
    width: 100%;
}
.customer_section-info
{
    width: 40%;
    display: flex;
    border-right: 1px solid #111;

}
.customer_section-content
{
    font-size: 1.6rem;
    color: #111;
    line-height: 3rem;
    letter-spacing: 0.3px;
}
.customer_section-feedback
{
    position: relative;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 132px
    
}
.customer_section-icon
{
    position: absolute;
    font-size: 2.6rem;
    left: -155px;
    width: 45px;
    height: 45px;
    color: #fff;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: #97552c;
    border-radius: 50%;
}
.customer_button-slider-right:hover
{
    cursor: pointer;
    background-color: rgba(151, 85, 44,0.4);
    
}
.customer_button-slider-right
{
    position: absolute;
    right: 15px;
    padding: 10px;
    background-color: rgb(151, 85, 44);
    top: 53%;
    color: #fff;
    font-size: 23px;
}
.matieu
{
    display: none;
}
.customer_button-slider-left:hover
{
    cursor: pointer;
    background-color: rgba(151, 85, 44,0.4);
}
.customer_button-slider-left
{
    position: absolute;
    padding: 10px;
    background-color: #97552c;
    top: 53%;
    color: #fff;
    font-size: 23px;
}
.js-feedback.close
{
    display: none;
}
.js-feedback.open-section
{
    display: flex;
}
.customer_dot-2
{
    height: 20px;
    position: absolute;
    top: 131%;
    display: flex;
    left: -4%;

}
.customer_dot
{
    height: 20px;
    position: absolute;
    top: 85%;
    display: flex;
    left: 45%;
}
.dot
{
    display: flex;
    padding: 7px;
}
.dot span
{
    border: 6px solid #717171;
    border-radius: 50%;
}
.dot_active
{
    border: 6px solid var(--Brown-color) !important;
}

/* Blog */
.blog_header
{
    position: relative;
}
.blog_header img
{
    width: 100%;
}
.blog_header_text
{
    position: absolute;
    top: 10%;
    color: #fff;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    flex-direction: column;
}
.blog_header_text_p
{
    color: #fff;
    letter-spacing: 1px;
    margin: 0 0 20px 0;
    text-transform: uppercase;
    font-size: 1.5rem;
}
.blog_header_text h2
{
    letter-spacing: 1px;
    margin: 0 0 45px 0;
    text-transform: uppercase;
    font-size: 4.5rem;
}
.blog_template
{
    height: 400px;
    width: 100%;
}
.content_1,
.content_2,
.content_3
{
    position: absolute;
    width: 28.4%;
    background-color: #fff;
}
.content_1
{
    left: 5%;
}
.content_2
{
    left: 36%;
}
.content_3
{
    left: 67%;
}
.content_header
{
    border: 18px solid #fff;
}
.content_header_img
{
    width: 100%;
    position: relative;
}
.blog_date
{
    display: flex;
    align-items: center;
    margin-top: 17px;
    margin-bottom: 9px;
    color: #111;
    justify-content: center;
}
.blog_date i
{
    transform: translateY(0.5px);
    font-size: 15px;
    padding-right: 7px;
    height: 20px;
    display: flex;
    color: var(--Brown-color);
}
.p_header
{
    color: #111 !important;
    font-size: 1.6rem !important;
}
.content_1 h3,
.content_2 h3,
.content_3 h3
{
    font-weight: 400;
    font-size: 2.3rem;
    display: flex;
    justify-content: center;
    color: #111;
    margin-bottom: 13px;
}
.p_blog
{
    color: #545454;
    letter-spacing: 1px;
    margin: 0 0 20px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 58px;
    font-size: 1.5rem;
    text-align: center;
    line-height: 2.4rem;
}
.blog_button span:hover
{
    background-color: var(--Brown-color);
    cursor: pointer;

}
.blog_button
{
    text-align: center;
    margin-bottom: 16px;
    transition: all ease-in-out 0.5s;
}
.blog_button span
{
    color: #fff;
    font-size: 1.6rem;
    padding: 14px 20px;
    background-color: #111;
}
.blog_search
{
    position: absolute;
    font-size: 24px;
    color: #000;
    padding: 13px;
    z-index: 1;
    background-color: #fff;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
    display: none;
    transition: all ease-in-out 0.4s;
    /* animation: scale ease-in-out 0.4s; */
}
.blog_search:hover
{
    background-color: var(--Brown-color);
    color: var(--white-color);
    cursor: pointer;
}
.blog_search.open
{
    display: block;
}
.blog_layout
{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0,0,0,0.5);
    animation: fadeIn ease-in-out 0.5s;
    display: none;
}
.blog_layout.open
{
    display: block;
}
.addAnime
{
    animation: scaleOut ease-in-out 0.4s !important;
}
/* modal blog */
.overlay_blog
{
    position: fixed;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 3;
    right: 0;
    bottom: 0;
    top: 0;
    display: none;
}
.overlay_blog.open
{
    display: block;
}
.overlay_blog-img
{
    position: relative;
}
.img_overlay
{
    position: absolute;
    left: 50%;
    width: 60%;
    transform: translateX(-50%);
    height: 590px;
    top: 35px;
    border: 4px solid var(--Brown-color);
}
.blog_close:hover
{
    animation: routeClose ease 0.4s;
    transition: all ease 0.4s;
    cursor: pointer;
}
.content_header:hover .blog_layout,
.content_header:hover .blog_search
{
    display: block !important;
}
.blog_close
{
    position: absolute;
    font-size: 28px;
    left: 80%;
    transform: translateX(0%);
    padding: 8px 16px;
    top: 11%;
    color: #fff;
}
.blog_next_left:hover,
.blog_next_right:hover
{
    background-color: rgba(151, 85, 44,0.4);
    cursor: pointer;
}
.blog_next_right
{
    position: absolute;
    font-size: 1.6rem;
    right: 18%;
    top: 313px;
    background-color: var(--Brown-color);
    color: #fff;
    padding: 10px;
}

.blog_next_left
{
    position: absolute;
    font-size: 1.6rem;
    left: 18%;
    top: 313px;
    background-color: var(--Brown-color);
    color: #fff;
    padding: 10px;
}

/* footer */
.cols-3{
    width: calc(100%/3);
}

#footer{
    background-color: #111;
}
.footer_bottom
{
    background-color: #111;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
#footer::before{
    content: "";
    position: absolute;
    left: 0;
    right: auto;
    bottom: auto;
    top: auto;
    background-image: url(/Web-index/img/footerbefor.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 182px;
    height: 428px;
}
.footer__container{
    width: 1370px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
}
.footer__border{
    border-bottom: 1px solid #232323;
    padding: 72px 0;
    display: flex;
}
.footer__logo-text{
    padding-right: 100px;
}
.footer__container .footer__logo-text p{
    color: var(--white-color);
    font: 400 15px/26px "Cairo", Helvetica, sans-serif;
    letter-spacing: 0.50px;
    margin: 0;
    margin-top: 20px;
}


.footer__menu{
    display: flex;
}
.footer__toggle-menu{
    color: var(--white-color);
    padding: 0 15px;
}
.footer__toggle-menu-head{
    font: 400 22px/24px "Marcellus", Helvetica, sans-serif;
    letter-spacing: 0.50px;
    color: var(--white-color);
    margin-bottom: 30px;
    position: relative;
    text-transform: uppercase;
}
.list-unstyled{
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
   
}
.list-unstyled li{
    margin-bottom: 20px;
    display: inline-block;
}
.list-unstyled li a{
    font: 400 15px/17px "Cairo", Helvetica, sans-serif;
    color: #fff;
    letter-spacing: 0.50px;
    text-decoration: none;
    display: flex;
}
.list-unstyled li i{
    margin-right: 10px;
    font-size: 18px;
}
.footer__content-section-icon{
    margin-right: 10px;
}
.footer__content-section{
    display: flex;
}
.footer__content-text h3{
    margin-bottom: 10px;
    margin-top: 0;
}
.footer__content-text p{
    font: 400 15px/25px "Cairo", Helvetica, sans-serif;
    letter-spacing: 0.50px;
    color: #cccccc;
    margin: 0;
}
.footer__instagram-img-container{
    margin-bottom: 0 !important;
    position: relative;
}
.footer__instagram-img{
    margin: 0 3px 10px;
    width: 100%;
}
.grid-container{
    display: grid;
    align-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
    z-index: 2;
}


.footer__sub-container{
    width: 1370px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.footer_copyright p{
    font: 400 15px/17px "Cairo", Helvetica, sans-serif;
    letter-spacing: 0.50px;
    color: #fff;
    margin: 0;
}
.footer_copyright p a{
    text-decoration: none;
    font: 600 15px/17px "Cairo", Helvetica, sans-serif;
    letter-spacing: 0.50px;
    color: #fff;
    margin: 0;
}
.footer__social-icon-list{
    list-style-type: none;
    display: flex;
    margin: 0;
}
.footer__social-icon-item{
    padding: 0 10px;
}
.social-icon{
    font-size: 16px;
    color: var(--white-color);
}
.list-hover:hover > a,
.footer__content-text:hover > a,
.list-hover:hover > a > i,
.footer__copyright-hover:hover
{
    color: #97552c;
    transition: all ease-in-out 0.4s;
}
.img-modal{
    position: absolute;
    top: 0;
    width: 84%;
    justify-content: center;
    align-items: center;
    height: 91%;
    display: flex;
    right: 2%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}
.img-modal a i{
    position: absolute;
    top: 35%;
    font-size: 26px;
    right: 30%;
}
.footer__instagram-img-container:hover .img-modal{
    transition: all ease-in-out 0.4s;
    display: flex;
    cursor: pointer;
}

/* avatar */
.avatar
{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.hover_user:hover .nav_ava
{
    display: block;
}
.icon_avatar
{
    font-size: 27px;
    display: inline-block;
    width: 45px;
    height: 45px;
    background-color: #fff;
    color: #000;
    border-radius: 50%;
    padding: 0px;
    cursor: pointer;
}
.icon_avatar i
{
    transform: translateX(10px) translateY(-25px);
}
.name_user
{
    margin-left: 6px;
    font-size: 18px;
}
.list-user
{
    width: 130px;
    background-color: #fff;
    position: absolute;
    z-index: 1;
    left: 50px;
}
.nav_ava
{
    position: absolute;
    
   
    cursor: pointer;
    left: 16px;
    top: 80px;
    display: none   ;
}
@keyframes fadeNav {
    0%
    {
        transform: translateY(-50px);
        opacity: 0;
    }
    100%
    {
        transform: translateY(0);
        opacity: 1;
    }
}
.modal_nav
{
    position: absolute;
    content: "";
    display: block;
    top: -53px;
    border: 36px solid;
    right: -150px;
    border-color: transparent transparent #fff transparent;
}

.nav_ava_list:hover a
{
    color: #000;
}
.nav_ava_list:hover
{
    opacity: 0.8;
}
.nav_ava_list
{
    background-color: #fff;
    display: flex;
    align-items: center;
    color: #000;
    height: 45px;
    justify-content: space-around;
    width: 100px;
    animation: fadeNav linear 0.3s;
}
.nav_ava_a a
{
    font-size: 16px;
    padding: 0;
    color: #000 !important;
}
.span
{
    display: block;
    position: absolute;
    content: "";
    width: 30px;
    height: 3px;
    right: 0px;
    border-radius: 2px;
    top: 68%;
    background-color: var(--white-color);
    display: none;
    animation: fadeIn1 ease-in-out 400ms; 
}

.modal_nav
{
    position: absolute;
    content: "";
    display: block;
    top: -53px;
    border: 36px solid;
    right: -150px;
    border-color: transparent transparent #fff transparent;
}
.header__navbar-list-item:nth-child(7):hover .nav_ava
{
    display: block;
    transition: all ease-in-out 1s;
    animation: fadeIn ease-in-out 1s;
}
.cart
{
    position: fixed;
    right: 37px;
    bottom: 35px;
    z-index: 999;
}
.cart:hover
{
    opacity: 0.8;
}
.cart_icon i
{
    font-size: 25px;
    color: #fff;
    border-radius: 50%;
    background-color: #000;
    padding: 13px;
    box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.16);
}
.cart_icon a
{
    text-decoration: none;
}
.cart span {
    position: absolute;
    content: "";
    display: block;
    font-size: 1.6rem;
    bottom: 40px;
    height: 20px;
    display: flex;
    width: 20px;
    justify-content: center;
    align-items: center;
    right: 10px;
    background: red;
    color: #fff;
    border-radius: 50%;
}

/* loader */
.box
{
    min-height: 0;
    transition: all linear 0.3s;
    overflow: hidden;
}
.item{
    background-color: rgb(245, 166, 48);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 5px;
    animation: effect 0.5s ease-in-out infinite alternate;
}

@keyframes effect {
    from{
        transform: translateY(25px);
        background-color: rgb(225, 85, 110);
    }to{
        transform: translateY(0);
    }
    
}

.item:nth-child(2),.item:nth-child(2)::before{
    animation-delay: 0.25s;
}
.item:nth-child(3),.item:nth-child(3)::before{
    animation-delay: 0.5s;
}
@keyframes fadeOutPage {
    to {
      opacity: 0;
    }
  }
@keyframes fadeInPage {
    to {
      
      min-height: 100%;
    }
  }

.loader
{
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #16191e;
    position: absolute;
    z-index: 1000;
    transition: all linear 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.scrollToTop
{
    position: fixed;
    right: 120px;
    bottom: 37px;
    background-color: #fff;
    box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.16);
    width: 40px;
    height: 40px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: flex;
    transition: 0.5s linear;
    z-index: 2;  
    color: #16191e;
    font-size: 16px;
    
}
.scrollToTop::after {
    content: "";
    display: block;
    width: 100%;
    height: 0;
    background-color: #000;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.5s ease;
    z-index: -1;
    
   
}
.scrollToTop:hover
{
    animation: bigbabol linear 1s;
    color: #fff ;
}
.scrollToTop:hover::after {
    height: 100%;
    
}
a:hover
{
    text-decoration: none;
}