:root{
    --white-color: #fff;
    --black-color: #000;
}
*{
    box-sizing: border-box;
}
html{
    font-family: 'Cairo', sans-serif;
    width: 100%;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -15px;
    
}
.align-items{
    align-items: center;
}
.cols-2{
    width: calc(100%/2);
}
.cols-4{
    width: calc(100%/4);
}
.cols-3{
    width: calc(100%/3);
}
.cols-5{
    width: 41.66666667%;
}
.col-md-6 {
    flex: 0 0 auto;
    width: 50%;
}
.cols-footer{
    width: 66.66666667%;
}
/* a:hover
{
    text-decoration: none !important;
    color: #fff !important;
} */
.grid-container{
    display: grid;
    grid-template-columns: 24% 24% 24%;
}
.grid-container-footer-insta
{
    display: grid;
    align-content: center;
    grid-template-columns: 1fr 1fr 1fr;
}
.grid-container-4cols{
    display: grid;
    align-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.grid-container-3cols{
    display: grid;
    align-content: center;
    grid-template-columns: 33% 33% 33%;
}
.grid-container-3-cols{
    display: grid;
    align-content: center;
    grid-template-columns: 25% 25% 25%;
}
.grid-container-2cols{
    display: grid;
    align-content: center;
    grid-template-columns: 70% 25%;
}
.grid-container-2cols-30-70{
    display: grid;
    align-content: center;
    grid-template-columns: 20% 70%;
}
.grid-container-2cols-half{
    display: grid;
    align-content: center;
    grid-template-columns: 50% 50%;
}
.grid-container-2cols-button{
    display: grid;
    align-content: center;
    grid-template-columns: 20% 50%;
}
.grid-container-6cols{
    display: grid;
    align-content: center;
    grid-template-columns: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;
}
.padding-10px{
    padding: 10px 0;
}
.padding-150px{
    padding: 150px 0;
}