:root{
    --white-color: #fff;
    --black-color: #000;
}
*{
    box-sizing: border-box;
}
html{
    font-family: 'Cairo', sans-serif;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -15px;
    
}
.align-items{
    align-items: center;
}
.cols-2{
    width: calc(100%/2);
}
.cols-4{
    width: calc(100%/4);
}
.cols-3{
    width: calc(100%/3);
}
.cols-5{
    width: 41.66666667%;
}
.col-md-6 {
    flex: 0 0 auto;
    width: 50%;
}
.cols-footer{
    width: 66.66666667%;
}
.clear{
    clear: both;
}
